<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	forceCoversAnnotation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	verbose="false"
>
    <testsuites>
        <testsuite name="Core">
            <directory>Core</directory>
        </testsuite>
    </testsuites>
    
    <filter>
	  <blacklist>
	    <directory suffix=".php">/usr</directory>
	    <directory>../../vendor</directory>
	    <file>../Psr4Autoloader.php</file>
	  </blacklist>
	</filter>
</phpunit>