{% extends "Layout.twig" %}

{% block content %}
  <div class="container">
    <form action="" method="POST">
      <a href="/admin/akce/add" class="btn btn-primary">Přidat</a>
      <button class="btn btn-primary" name="action" value="save">Uložit změny</button>
      {{ table(data, [
          ['buttons', '', ''],
          ['links', 'Upravit', ''],
          ['name', 'Jméno', ''],
          ['date', 'Datum', ''],
          ['userCount', 'Kapacita', ''],
          ['visible', 'Viditelný', ''],
      ], ' style="width:100%"') }}
    </form>
  </div>
{% endblock %}
