{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <b>{{ name }}</b><br><br>
    <div class="form-group">
      {{ text('newname', '', {'placeholder': 'Nový název'}) }}
    </div>
    <div class="form-group">
      <a class="btn btn-outline-primary" href="/admin/aktuality">Zpět</a>
      <button name="action" value="edit_confirm" class="btn btn-primary">Upravit</button>
    </div>
  </form>
</div>
{% endblock %}
