{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <form action="/admin/dokumenty" method="POST">
    {{ table(data, [
        ['buttons', '', ' style="width:70px"'],
        ['link', 'Jméno souboru', ''],
        ['name', 'Soubor', ''],
        ['category', 'Kategorie', ''],
        ['by', 'Nahrál', '']
    ]) }}
  </form>
  <hr />
  <h2>Upload</h2>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Název</label>
      {{ text('name', '', {'placeholder': 'Název'}) }}
    </div>
    <div class="form-group">
      <input type="file" class="form-control-file" name="file">
    </div>
    <div class="form-group">
      <label for="kategorie">Kategorie</label>
      <select class="form-control" name="kategorie">
        <option value="1">Schůze, rady</option>
        <option value="2">Soutěže</option>
        <option value="3">Tábory</option>
        <option value="0">Ostatní</option>
      </select>
    </div>
    <div class="form-group">
      <button name="action" value="upload" class="btn btn-primary">Nahrát</button>
    </div>
  </form>
</div>
{% endblock %}
