{% extends "Layout.twig" %}

{% block content %}
  <div class="container">
    <form method="POST">
      <a class="btn btn-outline-primary" href="/admin/galerie/file/upload">Přidat fotky</a>
      <a class="btn btn-outline-primary" href="/admin/galerie/directory/add">Přidat složku</a>
      <button class="btn btn-outline-primary" name="action" value="save">Uložit změny</button>
      {{ table(data, [
          ['buttons', '', ''],
          ['name', 'Název', ''],
          ['hidden', 'Skrytá', ''],
      ]) }}
    </form>
</div>
{% endblock %}
