{% extends "Layout.twig" %}

{% block title %}Správa fotogalerie{% endblock %}

{% block content %}
  <div class="container">
    <gallery-directory-list></gallery-directory-list>
  </div>
{% endblock %}

