{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <form action="" method="POST">
    <a href="/admin/permissions/add" class="btn btn-primary">Přidat</a>
      {{ table(data, [
          ['buttons', '', ' style="width:90px"'],
          ['name', 'Jméno', ''],
          ['description', 'Popis', ''],
      ], ' style="width:100%"') }}
  </form>
</div>
{% endblock %}
