{% extends "Layout.twig" %}

{% block content %}
  {% include 'Admin/PlatbyNavigation.twig' %}
  <div class="container">
    <div class="row flex-wrap">
      {% for col in columns %}
      <div class="col-12 col-md-6">
        {% for skupina in col %}
          {{ table(skupina.users, [
              ['index', '', ' class="r" style="width:40px"'],
              ['fullName', skupina.info.header],
              ['hasPaid', 'Zaplaceno?', ' style="width:40px"'],
              ['amount', 'Částka', ' style="width:200px"'],
          ], ' style="width:100%;margin-bottom:.5rem"') }}
          {% endfor %}
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
