{% extends "Layout.twig" %}

{% block title %}Správa uživatelů{% endblock %}

{% block content %}
  <div class="container">
    <table style="width:100%">
      <tr>
        <th>Jméno</th>
        <th>Oprávnění</th>
        <th>Datum<br>narození</th>
        <th>Variabilní<br>symbol</th>
      </tr>
      {% for row in data %}
        <tr>
          <td>{{ row.groupInfo }}</td>
          <td>{{ row.user.birthDate | date('j. n. Y') }}</td>
          <td>{{ row.user.varSymbol }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
