{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/orphan">Jednotlivá videa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/playlist">Playlisty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:#303C3C!important" href="/admin/video/source">Zdroje</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" style="color:#303C3C!important" href="/admin/video/title">Titulní stránka</a>
    </li>
  </ul>
  <form action="" method="post">
    {{ selectAssoc('video1', videos, 'v_id', 'v_title', video1) }}
    {{ selectAssoc('video2', videos, 'v_id', 'v_title', video2) }}<br>
    {{ selectAssoc('video3', videos, 'v_id', 'v_title', video3) }}
    {{ selectAssoc('video4', videos, 'v_id', 'v_title', video4) }}<br>
    <button class="btn btn-primary">Uložit</button><br>
  </form>
</div>
{% endblock %}
