use flake .
unset PYTHONPATH

dotenv_if_exists .env.local

IP=$(which nixos-container > /dev/null && nixos-container show-ip olymp-test || echo 'localhost')
if [ ! $(which nixos-container) ]; then
  export EXTERNAL_SERVER_URL=https://api.rozpisovnik.cz
else
  export EXTERNAL_SERVER_URL="http://$IP"
fi
export GRAPHQL_BACKEND=http://localhost:5000
export NEXT_PUBLIC_GRAPHQL_BACKEND=http://localhost:5000
export POSTGREST_BACKEND=http://localhost:5700

export CRAWLER_DISABLE_REFETCH=true

export DATABASE_URL="postgres://olymp@$IP/olymp"
export SHADOW_DATABASE_URL="postgres://olymp@$IP/olymp_shadow"
export ROOT_DATABASE_URL="postgres://postgres@$IP/postgres"
export STATE_DIR="$(pwd)/"
export PGHOST="$IP"
export PGUSER="postgres"
export PGDATABASE="olymp"
export SMTP_HOST="$IP"
export SMTP_PORT="1025"
export S3_ENDPOINT="http://$IP:9000"
export S3_REGION="us-east-1"
export S3_BUCKET="public"
export AWS_ACCESS_KEY_ID="00000000"
export AWS_SECRET_ACCESS_KEY="000000000000"
export DOMAIN="olymp-test"
export JWT_SECRET="1111111111"
#export DEBUG="postgraphile:postgres,postgraphile:postgres:error"

export PGRST_DB_URI=${DATABASE_URL}
export PGRST_DB_SCHEMAS=federated
export PGRST_DB_ANON_ROLE=anonymous
export PGRST_DB_CONFIG=false

export NODE_OPTIONS="--max-old-space-size=8192"

export OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
export OTEL_EXPORTER_OTLP_HEADERS=authorization=93f8d12b-2554-411c-8e50-79011fd707be
export HDX_NODE_EXPERIMENTAL_EXCEPTION_CAPTURE=1
export HDX_NODE_BETA_MODE=1
