layout node
use flake --impure

IP=$(nixos-container show-ip olymp-test)
export DATABASE_URL="postgres://olymp@$IP/olymp"
export SHADOW_DATABASE_URL="postgres://olymp@$IP/olymp_shadow"
export ROOT_DATABASE_URL="postgres://postgres@$IP/postgres"
export PGHOST="$IP"
export PGUSER="postgres"
export PGDATABASE="olymp"
export SMTP_HOST="$IP"
export SMTP_PORT="1025"
export MINIO_DOMAIN="$IP"
export MINIO_PORT="9000"
export MINIO_ACCESS_KEY="00000000"
export MINIO_SECRET_KEY="000000000000"
export DOMAIN="olymp-test"
#export DEBUG="postgraphile:postgres,postgraphile:postgres:error"
export NODE_OPTIONS="--max-old-space-size=8192"

export NEXT_PUBLIC_GRAPHQL_BACKEND=https://api.rozpisovnik.cz
