layout node
use flake . --impure

IP=$(nixos-container show-ip olymp-test)
export DATABASE_URL="postgres://olymp@$IP/olymp"
export SHADOW_DATABASE_URL="postgres://olymp@$IP/olymp_shadow"
export ROOT_DATABASE_URL="postgres://postgres@$IP/postgres"
export PGHOST="$IP"
export PGUSER="postgres"
export PGDATABASE="olymp"
export SMTP_HOST="$IP"
export SMTP_PORT="1025"
export S3_ENDPOINT="http://$IP:9000"
export S3_REGION="us-east-1"
export S3_BUCKET="public"
export AWS_ACCESS_KEY_ID="00000000"
export AWS_SECRET_ACCESS_KEY="000000000000"
export DOMAIN="olymp-test"
export JWT_SECRET="1111111111"
#export DEBUG="postgraphile:postgres,postgraphile:postgres:error"

export ESLINT_USE_FLAT_CONFIG=false
export NODE_OPTIONS="--max-old-space-size=8192 -r $(pwd)/.pnp.cjs --loader $(pwd)/.pnp.loader.mjs"
