eclipse/.metadata/*
!eclipse/.metadata/.gitignore
eclipse/TKOlomouc/.settings/*
!eclipse/TKOlomouc/.settings/.gitignore
config/*
!config/.gitignore
public/galerie/*
!public/galerie/.gitignore
public/images/*
!public/images/.gitignore
public/style/*.png
public/style/**/*.png
upload/*
!upload/.gitignore
log/*
!log/.gitignore
stats/
vendor/
