*~
[#]*[#]
.direnv/
node_modules/
package-lock.json
vendor/
/build
.sass-cache/
.tmp
result
.cache
.next
.devenv

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
