config.php
public/galerie/*
!public/galerie/.gitignore
upload/*
!upload/.gitignore
log/*
!log/.gitignore
stats/
*~
[#]*[#]
/galerie
/style
/images
/scripts
.direnv/
.ghc.environment*
dist/
dist-newstyle/