<?php
define('DB_SERVER', 'mysqldb:3306');
define('DB_DATABASE', 'olymp');
define('DB_USER', 'olymp');
define('DB_PASS', 'admin');

define('NABOR', '0');

date_default_timezone_set('Europe/Paris');

define('DEFAULT_FROM_MAIL', 'TK Olymp.cz <noreply@tkolymp.cz>');
define('DEFAULT_ADMIN_MAIL', 'tkolymp@tkolymp.cz');
