html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    font-family: DDG_ProximaNova, 'Proxima Nova', 'Helvetica Neue', Helvetica, 'Segoe UI', 'Nimbus Sans L', 'Liberation Sans', 'Open Sans', FreeSans, Arial, sans-serif;
    vertical-align: baseline;
}
a:hover,a:active {outline: none;}
body {
    line-height: 1.2;
    color: black;
}
ol, ul { list-style: none; }
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix {display:inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
p {
    margin-bottom:.6em;
    text-align:justify;
}
a {
    text-decoration: none;
    color: #303C3C;
}
a:hover {
    border-bottom: 1px solid #303C3C;
    color: black;
}
.no-a {
    border-bottom: none !important;
}

h1,h2,h3,h4,h5,h6,ul,ol {margin-bottom:.5em;}
h1,h2,h3,h4,h5,h6 {color:#303C3C;}
td h1,td h2,td h3,td h4,td h5,td h6,th h1,th h2,th h3,th h4,th h5,th h6{margin-bottom:0;}
h1 {font-size:200%;}
h2 {font-size:145%;}
h3 {font-size:130%;}
h4 {font-size:120%;}
h5 {font-size:115%;}
h6 {font-size:110%;}

strong { font-weight: bold; }

table {
    border-collapse: separate;
    border-spacing: 1px;
}
th, td {
    padding: 3px;
    vertical-align: middle;
}
td {
    border: 1px solid #f5f5f5;
    background-color: #fcfcfc;
}
th {
    border: 1px solid #dfdfdf;
    background-color: #f5f5f5;
}
table.nocolor td, table.nocolor th {
    border: none;
    background: none;
}

.r {text-align:right;}

.container:after, .widget:after, #header, #menu, .menu-inner, .clear {
  content:"";
  display:table;
  clear:both;
}

.container {
    float:left;
}
.container.full {
    float:none;
    width: 960px;
    margin: 0 auto;
}
.container.third {
    width: 33.33%;
}
.container.two-thirds {
    width: 66.66%;
}
.container.fifth {
    width: 20%;
}
.containet.two-fifths {
    width: 40%;
}
.container.three-fifths {
    width: 60%
}
.container.four-fifths {
    width: 80%
}
.container.half {
    width: 50%;
}

.widget {
    border: 1px solid #ccc;
    background: #EEE;
    margin: 0 5px;
    padding: 5px;
}
.widget-title {
    margin: -5px -5px 5px;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #0255a5;
    padding: 5px;
    background: white;
}
.widget-title.text {
    font-size: 90%;
    padding: 15px !important;
    text-transform: uppercase;
}
.widget-content{
    border: 1px solid #ccc;
    padding: 7px;
    background-color: white;
}

/* Top black block */
#top {
    height:20px;
    background-color:black;
}

#footer {
    text-align:center;
    background-color:#ddd;
    border-top: 1px solid #bbb;
    clear:both;
    padding:40px;
    color: #555;
    min-width: 960px;
}
#footer span {
    display:block;
    margin:10px 0 5px;
}

/* Header */
#header {
    position:relative;
    height: 64px;
}

/* Logo */
#logo {
    margin: 5px 110px 0 5px;
}
#logo a {
    display: block;
}

/* User login box */
#userbox {
    position:absolute;
    left:750px;
    width:210px;
    height: 100%;
    display:table;
}
#userbox-inner {
    display:table-cell;
    width: 100%;
    height: 100%;
    text-align:right;
    vertical-align: middle;
}
#userbox input {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
#userbox a {
    font-size: 80%;
    line-height: 150%;
}

/* Top menu */
#menu, .submenu {
    width: 100%;
    position: relative;
}
#menu {
    z-index: 10;
    background-color: white;
}
.submenu {
    z-index: 9;
    background-color: #ccc;
}
#menu-logo {
    position: absolute;
    left: 50%;
    margin-left: -480px;
    padding-top: 3px;
    display:none;
    opacity: 0;
}
.menu-inner {
    width: 960px;
    list-style: none;
    margin: 0 auto;
}
.menu-inner li {
    float: left;
    padding: 7px 7px;
    display: block;
    color: #303C3C;
}
.menu-inner a {
    text-decoration: none;
    color: #303C3C;
    text-transform: uppercase;
    font-size: 75%;
}
.menu-right {
    float: right !important;
    margin-right: -7px;
}

.menu-side {
    position: relative;
}
.menu-side ul {
    position:absolute;
    right:7px;
    top: 25px;
    width: 250px;
}
.menu-side .more {
    position:relative;
}
.menu-side .more:after {
    content: "";
    display:block;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 13px;
    height: 5px;
    background: url("/style/arrow-down.png") no-repeat;
}

.menu-side ul, .menu-more ul {
    list-style: none;
    background-color: white;
    border: solid #e0e0e0;
    border-width: 1px 1px 0;
}
.menu-side ul li, .menu-more ul li {
    padding: 10px 13px !important;
    border-bottom: 1px solid #ccc;
}

/* Expanded menu */
.menu-more {
    position: relative;
    margin-right: 15px;
}
.menu-more:after {
    content: "";
    display:block;
    position: absolute;
    top: 15px;
    right: -10px;
    width: 13px;
    height: 5px;
    background: url("/style/arrow-down.png") no-repeat;
}
.menu-more ul {
    width: 250px;
    display:none;
    position: absolute;
    margin-left: -13px;
    top:100%;
    z-index: 11;
}
.menu-more ul li {
    width: 224px;
}
.menu-more:hover ul {
    display:block !important;
}

/* Highlights banner */
.highlights {
    margin-bottom: 20px;
    min-width: 960px;
}
.highlights ul:after {
    content:"";
    display:table;
    clear:both;
}
.highlights li {
    position: relative;
    float:left;
    width: 33.333%;
    height: 400px;
    overflow: hidden;
}
.highlights li:before {
    content: "";
    border-left: 1px solid #303C3C;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 0;
    background: none;
}
.highlights a {
    display: block;
    height: 400px;
    width: 100%;
}
.highlights-image {
    height:100%;
}
.highlights-image img {
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position:center center;
}
.highlights-info {
    position: absolute;
    min-height: 70px;
    padding: 18px 25px 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#555;
    color:white;
    opacity: 0.85;
}
.highlights-info .category {
    display:block;
    text-transform: uppercase;
    font-size: 70%;
    margin-bottom: 5px;
}
.highlights-info .name {
    font-size: 200%;
    line-height: 120%;
    margin-bottom: 0;
}
.highlights-info .desc {
    display: none;
    height: 49px;
    padding-top: 10px;
}

/* Video container */
.videos {
    margin: 0;
}
.videos li {
    position: relative;
}
.videos li a:after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/play_white.png") no-repeat center;
}
.videos img {
    width: 100%;
    height: auto;
}

/* Results container */
.results {
    margin: 0;
}
.results .competition {
    margin-top: 5px;
}
.results .competition ul {
    margin: 0;
}
.results .date-place {
    color: #555;
    font-size: 85%;
    padding-top: 3px;
    text-align: right;
}
.results .competition-name {
    text-align: right;
    font-size: 120%;
}
.results .category {
    padding-top: 10px;
}
.results .category-name {
    font-weight: bold;
    font-size: 90%;
    padding-bottom: 3px;
}
.results .couple {
    font-size: 90%;
    text-indent: -1em;
    padding: 0 0 3px 1em;
}
.results .couple .name {
    font-size: 110%;
}

/* Small article box */
#more-articles {
    margin: -2.5px;
}
.article-small {
    padding: 2.5px;
}
.article-small a {
    
}
.article-small .image {
    display: block;
}
.article-small .image img {
    width: 100%;
    display:block;
}
.article-small .info {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}
.article-small .category {
    display:block;
    text-transform: uppercase;
    font-size: 70%;
}
.article-small .name {
    font-size: 200%;
    line-height: 120%;
    margin-bottom: 5px;
}
.article-small .desc {

}

.article-list {
    position:relative;
    padding-left:160px;
    min-height:150px;
    margin-bottom:10px;
}
.article-list .image {
    position:absolute;
    top:5px;
    left:0;
    width:150px;
    height:150px;
    text-align:center;
}
.article-list .name {
    font-size: 180%;
    line-height: 120%;
}
.article-list .info {
    margin-bottom:10px;
}
.article-list .desc {
    margin: 0 300px 0 0;
}
.article-list .more {
    float:right;
}

/* Gallery classes */
.foto_list {
    list-style-position: inside;
    list-style-image: url('/style/directory.png');
}
.foto_full {
    display:block;
    margin:3px;
}
.foto_preview {
    margin:6px;
    float:left;
    text-align: center;
}
.foto_preview_in {
    display:table-cell;
    vertical-align:middle;
    width:150px;
    height:150px;
}
.foto_preview_in img, .foto_full img {
    display:block;
    margin:auto;
}
.foto_desc {
    text-align:center;
    padding:3px;
}

/* General classes */
.scroll-y {
    overflow-y: scroll;
    height: 400px;
}

.article h1 {
    font-size: 250%;
}
.article .date {
    margin-bottom: 20px;
}
.article .summary {
    font-size: 150%;
    color: #303C3C;
    margin-bottom: 20px;
}
.article .image img {
    display: block;
    max-width: 700px;
    max-height: 700px;
    margin-bottom: 20px;
}
.article .text {
    width: 700px;
    text-align: justify;
    margin-bottom: 20px;
}

.notice {
	padding: 10px 0 10px 20px;
	position: relative;
	overflow: auto;
	margin: 5px 0 10px 0;
	border: 1px solid #555;
	background-color: #bbb;
}
.color {
	background-color:white;
	color:white;
	display:inline;
	padding: 0 5px;
	content: '';
	line-height:10px;
}
.box {
	display: inline-block;
	*display:inline;
	width:10px;
	height:10px;
	border:1px solid black;
	margin:0 1px;
	line-height:10px;
}

.f_doc {border:1px solid black;}
.f_doc_center {margin: 5px auto;display:block;border:1px solid black;}
.f_doc_left {margin-right:15px;border:1px solid black;float:left;}
.f_doc_right {margin-left:15px;border:1px solid black;float:right;}

.little {font-size: 90%;color: #555;}
.big {font-size: 124%;color: #333;}
.emph {font-weight:bold}
.center {text-align:center;}
.block-center {display:block;margin-left:auto;margin-right:auto;}
.list {list-style:disc outside none;padding-left:15px;}

.trenink-header {
    margin:0 auto;
    text-align:center;
}
.up_header .nadpis, .trenink-header .title {
    font-weight:bold;
    font-size:115%;
}
.trenink-header .date {
    letter-spacing:1px;
    font-weight:bold;
}

.header-section {
    padding: 10px 0 25px 0;
    margin-bottom: 10px;
    background: #EAEAEA url("/style/header-section.png") no-repeat 50% 10%;
}
.header-section h1, .header-section h2 {
    margin: 0 275px 0 17px;
}