a {
    text-decoration: none;
    color: #303C3C;
}
a:hover {
    color: black;
}

strong { font-weight: bold; }

table {
    border-collapse: separate;
    border-spacing: 1px;
}
th, td {
    padding: 3px;
    vertical-align: middle;
}
td {
    border: 1px solid #f5f5f5;
    background-color: #fcfcfc;
}
th {
    border: 1px solid #dfdfdf;
    background-color: #f5f5f5;
}
table.nocolor td, table.nocolor th {
    border: none;
    background: none;
}

.r {text-align:right;}

.container:after, .widget:after, #header, .clear {
  content:"";
  display:table;
  clear:both;
}

.widget {
    border: 1px solid #ccc;
    background: #EEE;
    margin: 0 5px;
    padding: 5px;
}
.widget-title {
    margin: -5px -5px 5px;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #0255a5;
    padding: 5px;
    background: white;
}
.widget-title.text {
    font-size: 90%;
    padding: 15px !important;
    text-transform: uppercase;
}
.widget-content{
    border: 1px solid #ccc;
    padding: 7px;
    background-color: white;
}

#footer {
    text-align:center;
    background-color:#fff3f2;
    clear:both;
    padding:40px;
    color: #555;
}
#footer span {
    display:block;
    margin:10px 0 5px;
}

/* User login box */
#userbox {
    margin-top: 5px;
    display:table;
    color: white;
}
#userbox-inner {
    display:table-cell;
    width: 100%;
    height: 100%;
    text-align:right;
    vertical-align: middle;
}
#userbox input {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
#userbox a, #userbox button {
    font-size: 80%;
    line-height: 150%;
    color: white;
}
#userbox button {
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
#userbox button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Video container */
.video col-4:after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/images/play_white.png") no-repeat center;
}

/* Small article box */
.article-small .image {
    display: block;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.article-small .image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.article-list {
    position:relative;
    padding-left:160px;
    min-height:150px;
    margin-bottom:10px;
}
.article-list .image {
    position:absolute;
    top:5px;
    left:0;
    width:150px;
    height:150px;
    text-align:center;
}
.article-list .name {
    font-size: 180%;
    line-height: 120%;
}
.article-list .info {
    margin-bottom:10px;
}
.article-list .desc {
    margin: 0 300px 0 0;
}
.article-list .more {
    float:right;
}

/* Gallery classes */
.foto_list {
    list-style-position: inside;
    list-style-image: url('/style/directory.png');
}
.foto_full {
    display:block;
    margin:3px;
}
.foto_preview {
    margin:6px;
    float:left;
    text-align: center;
}
.foto_preview_in {
    display:table-cell;
    vertical-align:middle;
    width:150px;
    height:150px;
}
.foto_preview_in img, .foto_full img {
    display:block;
    margin:auto;
}
.foto_desc {
    text-align:center;
    padding:3px;
}

.article h1 {
    font-size: 250%;
}
.article .date {
    margin-bottom: 20px;
}
.article .summary {
    font-size: 150%;
    color: #303C3C;
    margin-bottom: 20px;
}
.article .image img {
    display: block;
    max-width: 700px;
    max-height: 700px;
    margin-bottom: 20px;
}
.article .text {
    width: 700px;
    text-align: justify;
    margin-bottom: 20px;
}

.notice {
    width: 100%;
	padding: 10px 0 10px 20px;
	position: relative;
	overflow: auto;
	margin: 5px 0 10px 0;
	border: 1px solid #555;
	background-color: #bbb;
}
.color {
	background-color:white;
	color:white;
	display:inline;
	padding: 0 5px;
	content: '';
	line-height:10px;
}
.box {
	display: inline-block;
	*display:inline;
	width:10px;
	height:10px;
	border:1px solid black;
	margin:0 1px;
	line-height:10px;
}

.f_doc {border:1px solid black;}
.f_doc_center {margin: 5px auto;display:block;border:1px solid black;}
.f_doc_left {margin-right:15px;border:1px solid black;float:left;}
.f_doc_right {margin-left:15px;border:1px solid black;float:right;}

.little {font-size: 90%;color: #555;}
.big {font-size: 124%;color: #333;}
.emph {font-weight:bold}
.center {text-align:center;}
.block-center {display:block;margin-left:auto;margin-right:auto;}
.list {list-style:disc outside none;padding-left:15px;}

.trenink-header {
    margin:0 auto;
    text-align:center;
}
.up_header .nadpis, .trenink-header .title {
    font-weight:bold;
    font-size:124%;
}
.trenink-header .date {
    letter-spacing:1px;
    font-weight:bold;
}

.header-section {
    padding: 10px 0 25px 0;
    margin-bottom: 10px;
    background: #fff3f2 url("/style/header-section.png") no-repeat 50% 10%;
}

.courses {
    background-color: #fff3f2;
}
.contact h2, .about h2, .news h3, .courses h4 {
    border-bottom: 3px solid #ff4635;
}
.courses .courses__desc {
    margin: 2rem 0;
}

.navbar {
    background-color: #ff3c2b;
}
@media (max-width: 767px) {
    .navbar-expand-md .container {
        max-height: 100vh;
        overflow-y: auto;
    }
}
.nav-link {
    color: #eee !important;
}
.nav-link:hover {
    color: #fff !important;
}
.nav-item {
    flex-shrink: 0;
}

.carousel-inner {
    height: 60vh;
}
.carousel-item {
    background-size: cover;
    background-position: 50% 30%;
    width: 100%;
    height: 100%;
}
.carousel-item img {
  visibility: hidden;
}
.carousel-caption a {
    color: white;
}

.logo-image {
    max-width: 50vw;
}
