html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: medium;
	font-family: Arial,Helvetica,sans-serif;
	/*font-family: "lucida grande",tahoma,verdana,arial,sans-serif;FACEBOOK*/
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;ORIGINAL*/
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1.2;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

p,h1,h2,h3,h4,h5,h6,ul,ol {margin-bottom:.5em;}
h1,h2,h3,h4,h5,h6 {font-weight:bold;}
h1 {font-size:197%;}
h2 {font-size:182%;}
h3 {font-size:167%;}
h4 {font-size:152%;}
h5 {font-size:136%;}
h6 {font-size:122%;}

/*Colors:
orange light - #ffb82f
orange dark  - #ff9501
*/
body {
	background-image: url('logo-bg.png');
	background-repeat: repeat-x;
}
button, a {
	border: 0;
	margin: 0;
	padding: 0 2px 0 2px;
	display: inline;
	position: relative;
	color: #ff6500;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
button:disabled, a:disabled {
	color: #400;
}
hr {
	height: 0px;
	border-top: 1px dotted #999;
	margin-right: 10px;
}
table {
	border-collapse: separate;
	border-spacing: 1px;
	border: 1px dotted #fff2d5;
}
table th, table td {
	padding: 2px;
	border: 1px solid #ffe3b7;
	background-color: #fff0e2;
	vertical-align: middle;
}

#all {
	width: 970px;
	margin: 0 auto 0 auto;
	overflow: auto;
}
/*BEGIN HEADER*/
#header {
	position: relative;
	background-image: url('logo.png');
	background-repeat: no-repeat;
	width: 970px;
	height: 337px;
}
#userbox {
	position: absolute;
	top: 20px;
	right: 15px;
	text-align: right;
	width: 160px;
}
.badlogin {
	border-bottom: 2px dotted red;
}
#userbox input {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
#userbox button, #userbox a {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: -5px;
	color: #ff9501;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	font-size: 11px;
	font-family: Arial, sans-serif;
}
#logo {
	display: none;
}
#topmenu {
	position: absolute;
	bottom: 0;
	left: 0;
}
#topmenu ul li {
	float: left;
	background: url('tab-nosel-right.png') no-repeat right;
	padding: 0 19px 0 0px;
}
#topmenu ul li a {
	display: block;
	background: url('tab-nosel-left.png') no-repeat left;
	padding: 8px 10px 4px 4px;
	font-size: 19px;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	color: #fff;
	text-decoration: none;
}
#topmenu ul li.first a {
	background:  url('tab-nosel-first-left.png') no-repeat left;
	padding-left: 29px;
}#topmenu .second {color: purple;}
#topmenu ul li.last {
	background: url('tab-nosel-last-right.png') no-repeat right;
}
#topmenu ul li.current {
	background: url('tab-sel-right.png') no-repeat right;
}
#topmenu ul li.current a {
	background: url('tab-sel-left.png') no-repeat left;
	margin-left: -25px;
	padding-left: 29px;
}
#topmenu ul li.last.current {
	background: url('tab-sel-last-right.png') no-repeat right;
}
#topmenu ul li.first.current a {
	background: url('tab-sel-first-left.png') no-repeat left;
	margin-left: 0;
	padding-left: 29px;
}
/*END HEADER*/

/*BEGIN CONTENT*/
#content {
	margin-left: 220px;
	overflow: auto;
}
#sidebar {
	width: 220px;
	float: left;
}
.light-out, #sidemenu ul li {
	background: url('box-light-top.png') no-repeat top left;
}
.light-in, #sidemenu ul li a {
	display: block;
	position: relative;
	padding: 10px 0px 13px 15px;
	background: url('box-light-bottom.png') no-repeat bottom left;
	text-decoration: none;
	color: #555;
}
.dark-out, #sidemenu ul li.current {
	background: url('box-dark-top.png') no-repeat top left;
}
.dark-in, #sidemenu ul li.current a {
	display: block;
	position: relative;
	padding: 10px 0px 13px 40px;
	background: url('box-dark-bottom.png') no-repeat bottom left;
	color: #fff;
	font-weight: bolder;
}
.dark-in span.logo {
	background: url('logo-mini.png') no-repeat top left;
	height: 31px;
	width: 33px;
	margin-top: -3px;
	margin-left: -33px;
	position: absolute;
}
#sidemenu ul li a {
	padding: 10px 0px 13px 30px;
}
#sidemenu ul li a span.arrow {
	background: url('link-arrow.png') no-repeat top left;
	height: 19px;
	width: 12px;
	color: transparent;
	margin-left: -20px;
	position: absolute;
}
#sidemenu ul li.current a {
	padding-left: 30px;
}
#sidemenu ul li.current a span.point {
	background: url('link-point.png') no-repeat top right;
	width: 14px;
	height: 32px;
	right: 0;
	margin-top: -5px;
	color: transparent;
	position: absolute;
}
#content {
	padding: 15px 20px;
}
.notice {
	padding: 10px 0 10px 20px;
	position: relative;
	overflow: auto;
	margin: 5px 0 10px 0;
	border: 1px solid black;
	background-color: #FFE6BD;
}
.h_section {
	font-size: 150%;
	color: #572E00;
	margin-bottom: 15px;
}
.h_minor {
	font-size: 115%;
	color: #572E00;
	margin: 5px 0 5px 0;
}
.color {
	background-color:white;
	color:white;
	display:inline;
	padding: 0 5px;
	content: '';
	line-height:10px;
}
.blue {background-color:blue; color:blue;}
.red {background-color:red; color:red;}
.yellow {background-color:yellow; color:yellow;}
/*END CONTENT*/
#footer {
	clear: both;
	margin-top: 10px;
	padding: 20px 25px;
	border-top: 1px solid black;
	background-color: #777;
	color: #CCC;
	text-align: right;
}
