html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	font-family: Arial,Helvetica,sans-serif;
	/*font-family: "lucida grande",tahoma,verdana,arial,sans-serif;FACEBOOK*/
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;ORIGINAL*/
	vertical-align: baseline;
}
:focus { outline: 0; }
body {
	line-height: 1.2;
	color: black;
	background: white;
	padding:10px;
}
ol, ul { list-style: none; }
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
p {margin-bottom:1em;text-align:justify;}
h1,h2,h3,h4,h5,h6,ul,ol {margin-bottom:.5em;}
h1,h2,h3,h4,h5,h6 {font-weight:bold;}
h1 {font-size:197%;}
h2 {font-size:182%;}
h3 {font-size:167%;}
h4 {font-size:152%;}
h5 {font-size:136%;}
h6 {font-size:122%;}

/*Colors:
orange light - #ffb82f
orange dark  - #ff9501
*/
button, a {
	border: 0;
	margin: 0;
	padding: 0 2px;
	display: inline;
	position: relative;
	color: #ff6500;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
button:disabled, a:disabled {
	color: #400;
}
hr {
	height: 0px;
	border-top: 1px dotted #999;
	margin-right: 10px;
}
table {
	border-collapse: separate;
	border-spacing: 1px;
	border: 1px dotted #fff2d5;
}
th, td {
	padding: 2px;
	border: 1px solid #ffe3b7;
	background-color: #fff0e2;
	vertical-align: middle;
}
p { margin-bottom: 1em; }

#userbox button, #userbox a {
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: -5px;
	color: #ff9501;
	background: none;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	font-size: 11px;
	font-family: Arial, sans-serif;
}
.light-out, #sidemenu ul li {
	background: url('box-light-top.png') no-repeat top left;
}
.light-in, #sidemenu ul li a {
	display: block;
	position: relative;
	padding: 10px 0px 13px 15px;
	background: url('box-light-bottom.png') no-repeat bottom left;
	text-decoration: none;
	color: #555;
}
.dark-out, #sidemenu ul li.current {
	background: url('box-dark-top.png') no-repeat top left;
}
.dark-in, #sidemenu ul li.current a {
	display: block;
	position: relative;
	padding: 10px 0px 13px 40px;
	background: url('box-dark-bottom.png') no-repeat bottom left;
	color: #fff;
	font-weight: bolder;
}
.dark-in span.logo {
	background: url('logo-mini.png') no-repeat top left;
	height: 31px;
	width: 33px;
	margin-top: -3px;
	margin-left: -33px;
	position: absolute;
}
#sidemenu ul li a {
	padding: 10px 0px 13px 30px;
}
#sidemenu ul li a span.arrow {
	background: url('link-arrow.png') no-repeat top left;
	height: 19px;
	width: 12px;
	color: transparent;
	margin-left: -20px;
	position: absolute;
}
#sidemenu ul li.current a {
	padding-left: 30px;
}
#sidemenu ul li.current a span.point {
	background: url('link-point.png') no-repeat top right;
	width: 14px;
	height: 32px;
	right: 0;
	margin-top: -5px;
	color: transparent;
	position: absolute;
}
/* BEGIN MISC */
.notice {
	padding: 10px 0 10px 20px;
	position: relative;
	overflow: auto;
	margin: 5px 0 10px 0;
	border: 1px solid black;
	background-color: #FFE6BD;
}
.h_section {font-size: 150%;color: #572E00;margin-bottom: 15px;}
.h_minor {font-size: 115%;color: #572E00;margin: 5px 0 5px 0;}
.color {
	background-color:white;
	color:white;
	display:inline;
	padding: 0 5px;
	content: '';
	line-height:10px;
}
.blue {background-color:blue; color:blue;}
.red {background-color:red; color:red;}
.yellow {background-color:yellow; color:yellow;}

.up_header {
	border:1px solid #ffe3b7;
	background-color:#fff0e2;
	padding:5px 8px;
}.trenink_header {
	border:1px solid #ffe3b7;
	background-color:#fff0e2;
	padding:5px;
	margin:0 auto 5px;
	width:200px;
	text-align:center;
}.up_header .nadpis, .trenink_header .nadpis {
	font-weight:bold;
	font-size:115%;
}

.inzerat {}
.inzerat .nadpis {
	font-weight:bold;
	font-size:115%;
}

.little {font-size: 90%;color: #555;}
.big {font-size: 124%;color: #500;}
.list {list-style:disc outside none;padding-left:15px;}

.centerWTable {text-align:center;}
.centerWTable table {margin:0 auto;}

.f_doc {border:1px solid black;}
.f_doc_center {margin: 5px auto;display:block;border:1px solid black;}
.f_doc_left {margin-right:15px;border:1px solid black;float:left;}
.f_doc_right {margin-left:15px;border:1px solid black;float:right;}
.f {
	float:left;
	padding:3px;
	margin:3px;
	border: 1px solid;
	border-color: #ffe3b7 #ffa252 #ffa252 #ffe3b7;
}.f_img {
	margin:3px;
}.f_img .f_preview {
	display:table-cell;
	vertical-align:middle;
	width:150px;height:150px;
}.f_img .f_full {
	vertical-align:middle;
}.f_img img {
	text-align:center;
	margin:auto;
	display:block;
	max-width:710px;max-height:710px;
}.f_popis {
	width:146px;
	padding-left:10px;
}
div#TopFeaturesBlock {background:url(/images/topfeatures_bg.gif) #013366 top left repeat-x;height:330px;position:relative;}
div#TopFeaturesBlock div.Feature {width:700px;height:330px;position:absolute;top:0;left:10px;background:url(/images/topfeatures_shadow.png) scroll no-repeat 256px 8px;}
div#TopFeaturesBlock div.Feature p.FeatureBlurb {color:#fff;width:240px;float:left;padding:0 0 1em;font-size:1.1em;text-align:left;}
div#TopFeaturesBlock ul.FeatureLinks {float:left;width:240px;padding:0 0;list-style:none;}
div#TopFeaturesBlock ul.FeatureLinks li {float:left;width:78px;background:url(/images/topfeaturesbutton_bg.gif) #1c3f65 center left repeat-x;margin-right:3px;border: solid 1px #b2c5d4;}
div#TopFeaturesBlock ul.FeatureLinks li a {display:block;color:#fff;width:78px;text-decoration:none;font-weight:bold;font-size:.9em;text-align:center;padding:.4em 0;}
div#TopFeaturesBlock ul.FeatureLinks li a:hover {color:#5a5a5a;background-color:#fff;}
div#TopFeaturesBlock h2.FeatureTitle {color:#fff;float:left;font-size:1.6em;margin:15px 0 12px;padding:0 0;width:240px;}
div#TopFeaturesBlock div.FeaturePhoto {float:right;margin:12px 12px 0 0;width:427px;height:285px;}
div#TopFeaturesBlock div.FeaturePhoto img {max-width:427px;max-height:285px;}
div#TopFeaturesBlock div.FeaturePhoto p {text-align:right;color:#fff;margin-top:.2em;font-size:.9em;color:#BFCEE1;}
div#TopFeaturesBlock ul.FeatureIndex {list-style:none;display:block;position:absolute;bottom:22px;}
div#TopFeaturesBlock ul.FeatureIndex > li{float:left;border:solid 1px #fff;background-color:#366998;margin:0 3px;}
div#TopFeaturesBlock ul.FeatureIndex > li:hover{background-color:#7d9cb9;}
div#TopFeaturesBlock ul.FeatureIndex > li.selected{background-color:#7d9cb9;}
div#TopFeaturesBlock ul.FeatureIndex > li > a{height:14px;width:14px;display:block;}

.fotoroot {
	background: #b2b2b2 url('box-light-top.png') no-repeat top left !important;
} .fotoroot li {
	padding-bottom: 2px;
	background: url('box-light-bottom.png') no-repeat bottom left !important;
}
.fotolist {
	border: none;
	background: none !important;
	list-style: none;
	padding-left: 17px;
	margin: 0 !important;
} .fotolist li {
	border: none;
	background: none !important;
} .fotolist li a {
	border: none;
	background: none !important;
	padding: 7px 0 !important;
} .fotolist img {
	display: inline;
	margin: 3px 5px -3px 0;
}