$blackish:  #1e1e1e;
$red:       #c90029;
$light-red: #e80b30;
$greyish:   #efefef;

$primary: $red;
$secondary: $light-red;
$dark: $blackish;
$light: $greyish;

$link-color: $red;
$link-hover-color: $light-red;
$link-hover-decoration: none;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

table { border-collapse: separate; border-spacing: 1px; }
th, td { padding: 3px; vertical-align: middle; }
td { border: 1px solid #f5f5f5; background-color: #fcfcfc; }
th { border: 1px solid #dfdfdf; background-color: #f5f5f5; }
table.nocolor td, table.nocolor th { border: none; background: none; }
.r { text-align:right; }
.widget:after, #header, .clear {
  content:"";
  display:table;
  clear:both;
}
.widget {
    border: 1px solid #ccc;
    background: #EEE;
    margin: 0 5px;
    padding: 5px;
}
.widget-title {
    margin: -5px -5px 5px;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #0255a5;
    padding: 5px;
    background: white;
}
.widget-title.text {
    font-size: 90%;
    padding: 15px !important;
    text-transform: uppercase;
}
.widget-content{
    border: 1px solid #ccc;
    padding: 7px;
    background-color: white;
}
#footer {
    text-align:center;
    background-color:#fff3f2;
    clear:both;
    padding:40px;
    color: #555;
}
#footer span {
    display:block;
    margin:10px 0 5px;
}

.dropdown-no-arrow::after {
    display: none !important;
}

.bg-red {
    background-color: $light-red;
}
$navbar-padding-x: 0;
$navbar-padding-y: 0;
.navbar.navbar-dark > .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    flex-wrap: wrap !important;
}
.navbar.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}
@include media-breakpoint-down(md) {
    .navbar .container {
        padding: 0;
        .container {
            max-height: max-content;
        }
    }
}
@include media-breakpoint-up(md) {
    .navbars {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}
#navbar-second {
    background-color: $red;
    .nav-link {
        text-transform: none;
        color: $white;
    }
    .active {
        text-decoration: underline;
    }
}
.nav-link.userbox {
    text-transform: none;
    a {
        color: $white;
        font-size: .9rem;
    }
}

.inline-radio label {
    vertical-align: middle;
}
.inline-radio .form-check-input {
    position: static;
}
.inline-radio input[type=text] {
    width: 200px;
    display:inline-block;
}

/* Video container */
.video .col-4:after {
    content: "";
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../style/play_white.png") no-repeat center/35%;
}

/* Small article box */
.article-small .image {
    display: block;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.article-small .image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* Gallery classes */
.foto_preview {
    margin:6px;
    float:left;
    text-align: center;
}
.foto_preview_in {
    display:table-cell;
    vertical-align:middle;
    width:150px;
    height:150px;
}
.foto_preview_in img {
    display:block;
    margin:auto;
}
.foto_desc {
    text-align:center;
    padding:3px;
}

.box {
    display: inline-block;
    width:10px;
    height:10px;
    border:1px solid black;
    margin:0 1px 1px;
    line-height: 10px;
}

.f_doc_right {margin-left:15px;border:1px solid black;float:right;}
.little {font-size: 90%;color: #555;}
.big {font-size: 124%;color: #333;}
.list {list-style:disc outside none;padding-left:15px;}

.trenink-header {
    margin:0 auto;
    text-align:center;
}
.trenink-header .date {
    letter-spacing:1px;
    font-weight:bold;
}

.header-section {
    padding: 10px 0 25px 0;
    margin-bottom: 10px;
    background: #fff3f2 url("../style/header-section.png") no-repeat 50% 10%;
}

.courses {
    background-color: #fff3f2;
}
.contact h2, .about h2, .news h3, .courses h4 {
    border-bottom: 3px solid #ff4635;
}
.courses .courses__desc {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (max-width: 767px) {
    .courses .courses__desc {
        order: 0;
    }
    .courses .courses__img {
        order: 1;
        text-align: center !important;
    }
}
.courses img {
    max-width: 80vw;
}

@media (max-width: 767px) {
    .navbar-expand-md .container {
        max-height: 100vh;
        overflow-y: auto;
    }
}
.nav-link {
    text-transform: uppercase;
}
.nav-item {
    flex-shrink: 0;
}

.carousel-inner {
    height: 60vh;
}
.carousel-item {
    background-position: top left, 50% 30%;
    background-size: 100% 100%, cover;
    height: 100%;
    width: 100%;
}
.carousel-item img {
    visibility: hidden;
}

.logo-image {
    width: 250px;
    max-width: 50vw;
}

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/print";

.content > * {
  grid-column: content;
}
.content img, .content video {
    height: auto;
    max-width: 100%;
    display: block;
}
input[type=checkbox] {
    appearance: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-stone-800/20 hover:scrollbar-thumb-stone-800/50;
}
.button {
  @apply relative inline-flex justify-center items-center shadow-md rounded-lg;
}
.button svg {
  @apply h-4 w-4;
}
.button-accent {
  @apply px-3 py-2 text-sm uppercase tracking-normal font-medium;
  @apply bg-accent-9 hover:bg-accent-10 active:bg-accent-10 text-white;
  @apply disabled:bg-neutral-3 disabled:text-neutral-11;
}
.button-outline {
  @apply px-3 py-2 text-sm uppercase tracking-normal font-medium;
  @apply bg-transparent hover:bg-neutral-4 active:bg-neutral-5 text-neutral-11;
  @apply border border-accent-7 hover:border-accent-8;
}
.button-icon {
  @apply px-1.5 shadow-none;
}
.button-lg {
  @apply px-6 py-3 uppercase rounded-xl;
}
.button-lg svg {
  @apply h-5 w-5;
}

/* https://ryanmulligan.dev/blog/layout-breakouts/ */
.content {
  --gap: clamp(0.5rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(65ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 4rem);
  --feature: minmax(0, 8rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
