{% extends "Layout.twig" %}

{% block content %}
  <div class="container">
    {{ partnerRequest() }}
    {{ havePartner ? ("Právě tančím s: " ~ partnerFullName) : 'Právě s nikým netančím' }}
    <form method="POST" action="">
      {{ userSelect(users, 'partner') }}
      <button name="action" value="confirm" class="btn btn-primary">Požádat o partnerství</button>
      {% if havePartner %}
        <button name="action" value="dumpthen" class="btn btn-primary">Rozejít se</button>
      {% endif %}
      <a class="btn btn-outline-primary" href="/member/profil">Zpět</a>
    </form>
  </div>
{% endblock %}
