{% extends "Layout.twig" %}

{% block content %}
<div class="container">
  <div class="row flex-wrap flex-space-around">
    {% for item in data %}
      <div class="col-12 col-md-6 col-lg-4 pb-2">
        <div class="widget">
          <div class="widget-title center">
            {% include 'Member/RozpisHeader.twig' with {'item': item} %}
          </div>
          <div class="widget-content">
            {% for lesson in item.items %}
              <form class="row mx-auto mb-1 no-gutters" action="" method="post">
                <input type='hidden' name='ri_id' value='{{ lesson.id }}'>
                <div class="col-4">{{ lesson.timeFrom }}-{{ lesson.timeTo }}</div>
                <div class="col-8">
                  {{ lesson.fullName }}
                  {% if lesson.canReserve %}
                    <button name="action" value="signup" class="py-0 btn btn-outline-primary btn-sm">+</button>
                  {% elseif lesson.canCancel %}
                    <button name="action" value="signout" class="py-0 btn btn-outline-primary btn-sm">&times;</button>
                  {% endif %}
                </div>
              </form>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
