parameters:
  earlyTerminatingMethodCalls:
    Redirect:
      - to
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  bootstrapFiles:
    - phpstan-constants.php
  fileExtensions:
    - php
    - inc
