.rbc-calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rbc-header {
  overflow: hidden;
  flex: 1 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  @apply divide-x divide-neutral-6 border-b border-neutral-6;
}

.rbc-event {
  font-size: 90%;
  padding: 2px 5px;
  background-color: #00B9DE;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  text-align: left;
}
.rbc-event:focus {
  outline: 5px auto #3b99fc;
}
.rbc-event.empty-event {
  background: repeating-linear-gradient(
    35deg,
    rgba(0, 185, 222, .85),
    rgba(0, 185, 222, .85) 5px,
    rgba(0, 185, 222, .9) 5px,
    rgba(0, 185, 222, .9) 10px
  );
}
.rbc-event.is-group {
  background: HSL(352, 86%, 61%);
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}
.rbc-row-segment .rbc-event-content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  color: #00B9DE;
}
.rbc-show-more:hover, .rbc-show-more:focus {
  color: #008fab;
}

.rbc-day-bg {
  flex: 1 0 0;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.rbc-time-column .rbc-timeslot-group {
  flex: 1;
}

.rbc-timeslot-group {
  @apply border-b border-neutral-4;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-time-header-gutter {
  flex: none;
}

.rbc-day-slot {
  position: relative;
}

.rbc-time-view-resources .rbc-time-gutter, .rbc-time-view-resources .rbc-time-header-gutter {
  @apply bg-neutral-1 border-r border-neutral-6;
  position: sticky;
  left: 0;
  z-index: 10;
  margin-right: -1px;
}
.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}
.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
}
.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}
.rbc-time-view-resources .rbc-header, .rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex:  1 1 0;
}

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  flex: 1 0 0;
  min-height: 16px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
  overflow-x: auto;
}
.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
  text-align: right;
}
.rbc-time-view .rbc-row {
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto; /* should not shrink below height */
  flex-direction: row;
}
.rbc-time-header > .rbc-row:first-child {
  @apply border-b border-neutral-6;
}

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  @apply border-l border-t border-neutral-6;
}

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  @apply border-t-2 border-neutral-6;
  overflow-y: auto;
  scrollbar-gutter: stable;
  position: relative;
}
.rbc-time-content > * + * > * {
  @apply border-l border-neutral-6;
}
.rbc-time-content > .rbc-time-gutter {
  flex: none;
}
.rbc-time-content > .rbc-day-slot {
  width: 100%;
  user-select: none;
}

.rbc-nondraggable {
  background-color: #abf1ff !important;
  color: black !important;
}

.rbc-dragged-event {
  opacity: 0;
}
.rbc-is-dragging .rbc-event:not(.rbc-dragged-event):not(.rbc-drag-preview) {
  opacity: .50;
}
