.leaflet-map-pane canvas { z-index: 1; }
.leaflet-tile-pane { z-index: 2; }
.leaflet-map-pane svg { z-index: 2; }
.leaflet-pane,
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane { z-index: 5; }
.leaflet-marker-pane { z-index: 6; }
.leaflet-tooltip-pane { z-index: 7; }
.leaflet-popup-pane { z-index: 8; }
.leaflet-zoom-box,
.leaflet-control { z-index: 9; }
.leaflet-top,
.leaflet-bottom { z-index: 10; }

.leaflet-default-icon-path {
  background-image: url('/images/marker-icon.png');
}

.leaflet-control-layers-toggle {
  background-image: url('/images/layers.png');
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('/images/layers-2x.png');
}

.leaflet-control-layers-list {
  margin: 0;
  padding: 0;
  border: 0;
}
