{% extends "Layout.twig" %}

{% block title %}{{page.title}}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
  <div class="container">
    <prijd-tancit></prijd-tancit>
  </div>
{% endblock %}
