{% extends "Layout.twig" %}

{% block title %}Externí trenéři{% endblock %}

{% block content %}
<div class="container">
  <div style="margin-bottom:2em;">
    <h2>Ing. Jaroslav Kučera</h2>
    <img alt="Ing. Jaroslav Kučera" src="/images/treneri/jerry.jpg" class="f_doc_right" style="height:150px;"/>
    <ul class="list">
      <li>vicemistr ČR v latinskoamerických tancích (1992, 1993, 1995)</li>
      <li>finalista mistrovství ČR v deseti tancích (1993)</li>
      <li>trenér mistrů České republiky všech věkových kategorií</li>
      <li>trenér finalistů mistrovství světa</li>
      <li>trenér předních českých, slovenských, maďarských párů</li>
      <li>trenér a porotce první třídy</li>
      <li>porotce s nejvyšší mezinárodní licencí WDSF</li>
      <li>porotce mistrovství Evropy</li>
    </ul>
  </div>

  <div style="margin-bottom:2em;">
    <h2>Martin Odstrčil</h2>
    <img alt="Martin Odstrčil" src="/images/treneri/martin.jpg" class="f_doc_right" style="height:150px;" />
    <ul class="list">
      <li>6x titul Mistr České republiky v deseti tancích (1995-2000)</li>
      <li>titul Mistr České republiky ve standardních tancích (2000)</li>
      <li>5x titul Vicemistr České republiky ve standardních tancích (1995-1999)</li>
      <li>finalista mistrovství ČR v latinskoamerických tancích (1996)</li>
      <li>trenér a porotce 1. třídy</li>
      <li>trenér mistrů České republiky všech věkových kategorií</li>
      <li>porotce s nejvyšší mezinárodní licencí WDSF – porotce mistrovství světa a Evropy</li>
    </ul>
  </div>

  <div style="margin-bottom:4em;">
    <h2>Pavla Landsfeldová</h2>
    <img alt="Pavla Landsfeldová" src="/images/treneri/pavla.jpg" class="f_doc_right" style="height:150px;" />
    <ul class="list">
      <li>finalistka mistrovství ČSSR ve standardních tancích</li>
      <li>titul Mistr České republiky ve standardních tancích (senior)</li>
      <li>trenérka a porotkyně první třídy</li>
      <li>trenérka mistrů České republiky ve standardních tancích</li>
      <li>porotkyně Mistrovství České republiky</li>
    </ul>
  </div>

  <div style="margin-bottom:2em;">
    <h2>Ing. Zdeněk Landsfeld</h2>
    <img alt="Ing. Zdeněk Landsfeld" src="/images/treneri/zdenek.jpg" class="f_doc_right" style="height:150px;" />
    <ul class="list">
      <li>2x titul Vicemistr ČSSR ve standardních tancích (1978 a 1979)</li>
      <li>2x titul Mistr ČR ve standardních tancích – kategorie senior (1994 a 1995)</li>
      <li>titul Mistr Prahy v latinskoamerických tancích (1978)</li>
      <li>Účastník mistrovství světa a Evropy (1979, 1980 a 1995)</li>
      <li>3. Místo na MS formací 1977 v Mnichově</li>
      <li>trenér a porotce první třídy</li>
      <li>trenér mistrů České republiky všech věkových kategorií</li>
      <li>profesionální taneční trenér a kouč významných českých, německých, rakouských a slovenských párů</li>
      <li>lektor na Univerzitě Karlově v Praze a Univerzitě Palackého v Olomouci (studium trenérů a porotců II. a III. třídy)</li>
      <li>porotce s nejvyšší mezinárodní licencí WDSF – porotce mistrovství světa</li>
    </ul>
  </div>
</div>
{% endblock %}
