@import 'glider-js/glider.min.css';

.content > * {
    grid-column: content;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-page-cell-inner.slate {
    @apply prose;
}

.avoid-trainer-pictures .slate li:nth-of-type(1) {
    padding-right: 115px;
}
.avoid-trainer-pictures .slate li:nth-of-type(2) {
    padding-right: 115px;
}

.glider-contain {
    grid-column: full;
}
.glider-dots {
    margin-top: .5rem;
}
.glider-dot {
    border-radius: 0;
    width: 50px;
    height: 9px;
}
.glider-dot.active {
    background-color: theme('colors.primary.500');
}
.glider-prev, .glider-next {
    position: absolute;
}
.glider-prev {
    left: 1rem;
    top: calc(50% - 2rem);
}
.glider-next {
    right: 1rem;
    top: calc(50% - 2rem);
}

/* https://ryanmulligan.dev/blog/layout-breakouts/ */
.content {
    --gap: clamp(.5rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(100ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 4rem);
    --feature: minmax(0, 8rem);

    display: grid;
	grid-template-columns:
	    [full-start] var(--full)
	    [feature-start] var(--feature)
	    [popout-start] var(--popout)
	    [content-start] var(--content) [content-end]
	    var(--popout) [popout-end]
	    var(--feature) [feature-end]
	    var(--full) [full-end];
    }
