@import 'glider-js/glider.min.css';
@import "nprogress/nprogress.css";
@import '@react-page/plugins-slate/lib/index.css';
@import '@react-page/plugins-image/lib/index.css';
@import "react-toastify/dist/ReactToastify.css";

.content > * {
    grid-column: content;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply relative inline-flex justify-center items-center shadow-md rounded-lg;
}
.button svg {
    @apply h-4 w-4;
}
.button-red {
    @apply px-3 py-2 text-white bg-red-500 text-sm uppercase tracking-normal font-medium;
}
.button-secondary {
    @apply px-3 py-2 text-stone-700 bg-stone-300 text-sm uppercase tracking-normal font-medium;
}
.button-icon {
    @apply px-1.5 shadow-none;
}
.button-lg {
    @apply px-6 py-3 uppercase rounded-xl;
}
.button-lg svg {
    @apply h-5 w-5;
}

.react-page-cell-inner.slate {
    @apply prose;
}
.avoid-trainer-pictures .slate li:nth-of-type(1) {
    padding-right: 115px;
}
.avoid-trainer-pictures .slate li:nth-of-type(2) {
    padding-right: 115px;
}

.glider-contain {
    grid-column: full;
}
.glider-dots {
    margin-top: .5rem;
}
.glider-dot {
    border-radius: 0;
    width: 50px;
    height: 9px;
}
.glider-dot.active {
    background-color: theme('colors.primary.500');
}
.glider-prev, .glider-next {
    position: absolute;
}
.glider-prev {
    left: 1rem;
    top: calc(50% - 2rem);
}
.glider-next {
    right: 1rem;
    top: calc(50% - 2rem);
}

/* https://ryanmulligan.dev/blog/layout-breakouts/ */
.content {
    --gap: clamp(.5rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(65ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 4rem);
    --feature: minmax(0, 8rem);

    display: grid;
	grid-template-columns:
	    [full-start] var(--full)
	    [feature-start] var(--feature)
	    [popout-start] var(--popout)
	    [content-start] var(--content) [content-end]
	    var(--popout) [popout-end]
	    var(--feature) [feature-end]
	    var(--full) [full-end];
    }
