{% extends "Layout.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container" style="min-height:100vh;display:flex;flex-direction:column;">
    {{ content | raw }}
  </div>
{% endblock %}
