{% extends "Layout.twig" %}

{% block title %}Chyba{% endblock %}

{% block content %}
  <div class="container">
    <div class="alert alert-danger">

      {% if errorCode == 'not_found' %}
        <b>Stránka nenalezena.</b>
        <br>
        <br>
        Pokud si myslíte, že tu něco má být a není, kontaktujte prosím administrátora.

      {% elseif errorCode == 'authorization' %}
        <b>Nedostatečná autorizace</b>
        <br />
        <br />
        Váš požadavek nemohl být vykonán, protože vám k němu chybí
        dostatečná oprávnění. Buď se musíte přihlásit, nebo do této části webu
        nemáte přístup.

      {% elseif errorCode == 'ban' %}
        <b>Ban</b>
        <br/>
        <br/>
        Administrátor vám zakázal přístup, obraťte se na něj (sekce Kontakt).

      {% elseif errorCode == 'not_approved' %}
        <b>Váš účet ještě nebyl potvrzen</b>
        <br/>
        <br/>
        Administrátor vám zatím nepovolil přístup na stránky.

      {% elseif errorCode == 'script_fatal' %}
        <b>Vnitřní chyba skriptu</b>
        <br />
        <br />
        Nastala chyba k jejímuž popisu neexistují konkrétní informace.
        Kontaktuj prosím administrátora a popiš všechno, co jsi dělal,
        co mohlo chybu způsobit.

      {% else %}
        Chybová stránka s daným ID nebyla nalezena.

      {% endif %}
    </div>
  </div>
{% endblock %}
