{% extends "Layout.twig" %}

{% block title %}Klubové akce{% endblock %}

{% block content %}
<div class="container">
  <event-member-list selected="{{ id }}"></event-member-list>
  <event-item id="{{ id }}"></event-item>
</div>
{% endblock %}
