parameters:
  excludes_analyse:
    - files/Core/phpmailer.php
    - files/Core/smtp.php
  earlyTerminatingMethodCalls:
    RedirectHelper:
      - redirect
  inferPrivatePropertyTypeFromConstructor: true
  bootstrapFiles:
    - phpstan-constants.php
