parameters:
  dynamicConstantNames:
    - SMTP_AUTH
    - SMTP_TLS
  earlyTerminatingMethodCalls:
    Redirect:
      - to
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  fileExtensions:
    - php
    - inc
