*/2 * * * * refresh_memberships ?jobKey=refresh_memberships

29 21 * * * create_lesson_payments ?jobKey=create_lesson_payments
08 21 * * * discover_csts_athletes ?jobKey=discover_csts_athletes

12 * * * * frontier_seed ?jobKey=frontier_seed
* * * * * frontier_schedule ?jobKey=frontier_schedule
