{% extends "Layout.twig" %}

{% block title %}Správa článků{% endblock %}

{% block content %}
<div class="container">
  <form class="form-inline" action="" method="get">
    <div class="form-group">
      {{ selectAssoc('dir', dirs, 'id', 'text', dir ? dir : 'none') }}
    </div>
    <div class="form-group"><button class="btn btn-primary">Zobrazit</button></div>
  </form>

  <form action="" method="post">
    {% for item in photos %}
      <div class="foto_preview">
        <div class="foto_preview_in">
          <img alt="{{ item.gf_id }}" src="/galerie/thumbnails/{{ item.gf_path }}" />
        </div>
        <div class="foto_desc">
          {{ radio('foto', item.gf_id, item.gf_id == checked, item.gf_name) }}
          <br/><br/>
        </div>
      </div>
    {% endfor %}
    <div class="form-group" style="clear:both">
      <button class="btn btn-primary">Potvrdit</button>
      <a class="btn btn-outline-primary" href="/admin/aktuality">Zpět</a>
    </div>
  </form>
</div>
{% endblock %}
