{% extends "Layout.twig" %}

{% block title %}Správa fotogalerie{% endblock %}
{% block subheader %}<h2>Upravit soubor</h2>{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="post">
    <div class="form-group">
      <label for="name">Popis</label>
      <input class="form-control" type="text" name="name" value="{{ name }}" />
    </div>
    <div class="form-group">
      <label for="parent">Nadsložka</label>
      {{ selectAssoc('parent', dirs, 'id', 'text', parent) }}
    </div>
    <div class="form-group">
      <a class="btn btn-outline-primary" href="{{ returnURI }}">Zpět</a>
      <a class="btn btn-primary" href='/galerie/file/remove/{{ id }}'>Odstranit</a>
      <button class="btn btn-primary">Upravit</button>
    </div>
  </form>
</div>
{% endblock %}
