{% extends "Layout.twig" %}

{% block title %}Správa nástěnky{% endblock %}

{% block content %}
  <div class="container" style="min-height:100vh;display:flex">
    <nastenka-admin-list style="flex:1"></nastenka-admin-list>
  </div>
{% endblock %}
