{% extends "Layout.twig" %}

{% block title %}Správa uživatelů{% endblock %}

{% block content %}
  <div class="container" style="min-height:80vh;display:flexflex-direction:column">
    <user-list style="flex:1"></user-list>
  </div>
{% endblock %}
