{% extends "Layout.twig" %}

{% block title %}Správa uživatelů{% endblock %}

{% block content %}
  <div class="container" style="min-height:100vh;display:flex">
    <user-list style="flex:1"></user-list>
  </div>
{% endblock %}
